body {
  font-family :poppins, sans-serif;
  background-color: white;
}

.shop-section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 540;
  margin-bottom: 30px;
 height: 90px;
}

.pakot-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.pako-card {
  width: 320px;
  border-radius: 14px;
  overflow: hidden;
  background-color: transparent;
}

.pako-card img {
  width: 100%;
  display: block;
}

.pako-body {
  padding: 8px 0;
  background-color: transparent;
}

.pako-title {
  font-size: 15px;
  font-weight: 500;
  margin:12px 0 4px;
}

.pako-price {
  font-size: 18px;
  font-weight: 450;
  margin: 0 0 6px;
}
