  body{
    margin: 20px;
    line-height: 1.6;
  }
  h1{
    text-align: center;
    border-bottom: 20px;
    margin-bottom: 20px;
    
  }
  .intro-section {
  margin: 20px 40px;
}

.intro-layout {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  gap: 40px;          
}

.intro-text {
  flex: 1;
  font-size: 20px;    
  margin-top: 30px;        
}

summary{
  cursor: pointer;
}

  table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    border: 3px solid black;

  }
  td{
    border: 5%;
  }
  
  fieldset {
  border: 2px solid black;
}
  header p{
    font-size: 25px;
    padding-bottom: 40px;
  }
  table th{
    font-weight: bold;
  }
  details{
    border: 1px solid black;
    border-radius: 8px;
    padding:10px;
    margin: 15px 0;
  }
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}

.footer-logo {
    width: 150px;
    max-width: 100%;
    display: block;
}


#content-frame {
  width: 100%;
  border: none;
  min-height: calc(100vh - 100px);
}


@media (max-width: 760px) {
  .intro-layout {
    flex-direction:column
  }
  header {
    flex-direction: column;
    padding: 10px;
  }
  .nav-wrap {
    margin-top: 10px;
  }
  .nav-table td {
    padding: 8px 12px;
  }
}
section li{
  margin-left: 20px;
}
.footer-bottom{
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #333;
  padding-top: 12px;
  color: #aaa;
}
.footerkontakt{
  text-align: center;
  margin-top: 50px;
}

.tools-section p{
  text-align: center;

}
.tools-section {
  float: left;         
  width: 360px;        
  margin: 60px;   
  background: white;
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;

}

.tools-section input,
.tools-section button {
  width: 100%;
  padding: 8px;
  margin: 7px 0;
}

.tools-section button {
  background: #ff8800;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.tools-section button:hover {
  opacity: .85;
}

#bmi-result {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
