body {
  padding: 0;
  margin: 0;
        height: 100%;
         font-family: Arial, sans-serif;
        background: #f5f5f5;
        overflow-x: hidden
}

.kontakt-main{
  position: relative;
  background-image:url("/fotot/backgroundjoinus.avif");
background-size: 120% auto;
    background-position: center;
    background-repeat: no-repeat;
    animation: pan-image 30s linear infinite alternate;
  padding: 80px 20px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontakt-overlay{
  position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.kontakt-container {
    position: relative;
    z-index: 2;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;
}

.kontakt-text{
  flex: 1;
  color: white;
  min-width: 300px;
}

.kontakt-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}
.kontakt-text p {
    font-size: 18px;
    color: #ddd;
}

.kontakt-form{
  flex:1;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  border-top: 5px solid orange;
}

.kontakt-form h3{
  text-align: center;
  margin-bottom: 20px;
  color:#333;
}

hr {
    border: 0;
    height: 3px;
    background-color: orange;
    width: 80px; 
    margin: 30px auto; 
    border-radius: 10px;
    opacity: 0.8;
}
.footeri {
    background-color: #111;    
    color: #eee;                
    padding-top: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 3px solid #ff8800; 
    margin-top: 0;
    font-family: Arial, sans-serif;
}

  /* Seksioni i jashtëm */
.map-section {
    padding: 60px 20px;
    background-color: #f5f5f5; 
    text-align: center;
}

/* kutia e bardh e mapit */
.map-card {
    background-color: #ffffff; 
    max-width: 1000px;
    margin: 0 auto; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    overflow: hidden;
}

/* Titulli dhe Butoni */
.map-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 15px;
}

#nagjeni {
    margin: 0;
    font-size: 24px;
    color: orange;
    font-weight: bold;
}

/* "Merr Udhëzime" */
.btn-directions {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-directions:hover {
    background-color: orange;
    transform: scale(1.05);
}

/* Rregullimi i iframe të hartes */
#mapi-container iframe {
    border-radius: 10px;
    width: 100%;
}

/* kur fshihet harta dhe dalin udhezimet*/
#udhezimet-text {
    text-align: left;
    padding: 20px;
    background-color: #fffdf5; 
    border-radius: 10px;
    border: 2px dashed orange; 
    animation: forwards 0.5s;
}

.step {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.step .icon {
    font-size: 24px;
    background: #eee;
    padding: 10px;
    border-radius: 50%;
}

.google-link {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; /* ne mes */
    padding: 0 20px;
}


/* Secila kolone e footerit */
.footer-col {
    flex: 1;             
    min-width: 220px;    
    text-align: left;
}


.logo-col img {
    width: 180px;
    margin-bottom: 20px;
    
    
}

/* Titujt e kolonav*/
.footer-col h3 {
    color: #ff8800;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Lista e navigimit*/
.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col li{
  font-size: large;
}

/*Elementet e navigimit,hapesira*/
.footer-col ul li {
    margin-bottom: 10px;
}

/*Elementet e rreth nesh, linqet */
.footer-col ul li a {
    text-decoration: none;
    color: #ccc;        
    font-size: 15px;
    transition: all 0.3s ease;
    display: inline-block; 
}

/* Ndryshon ngjyren me kursor tek Rreth Nesh*/
.footer-col ul li a:hover {
    color: #ff8800;     
    transform: translateX(5px); /* leviz djathtas */
}
/*ndryshimi i imazhit */
.logo-col img {
    width: 250px;
    margin-bottom: 20px;
}
.logo-col a:hover img {
    transform: scale(1.1); 
    opacity: 0.8; 
}

/*Logoja dhe orari */
.logo-col .orar {
    margin-top: 10px;
}

.logo-col .orar h4 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #000;
}

.logo-col .orar p {
    margin: 2px 0;
    color: #555;
    font-size: 15px;
}
/* per permiresim te orarit */
.dita {
    color: #fff;        
    font-weight: bold;
    font-size: 15px;
    display: block;     
    margin-bottom: 4px;
}
  /* Permiresimi i orarit me margina */
.orar{
  margin-top: 15x;
}
.orar p {
    margin-bottom: 15px;
    line-height: 1.6;
    border-bottom: 1px solid orange; 
    padding-bottom: 10px;
    width: 60%;
}
.ora {
    color: #aaa;       
    font-size: 14px;
}
   

/*  FAQ  */
.faq {
    padding: 50px 40px;
    background-color: #ffffff; 
    text-align: left;
    max-width: 800px;
    margin: 40px auto; 
    border-radius: 12px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.05); 
}

.faq h2 {
    text-align: center;
    color: orange;
    margin-bottom: 40px;
    font-size: 28px;
}

.faq-item{
  margin-bottom:20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.faq-item h3{
  font-size:18px;
  color:#333;
  margin-bottom:5px ;
}
.faq-item{
  font-size: 16px;
  color:#666
}
/*Pjesa copyright tek footeri */
.copyright-bar {
    text-align: left;
    border-top: 1px solid #333; 
    margin-top: 40px;
    padding-top: 20px 0;
    width: 100%;
}

.copyright-bar p {
    color: #666;
    font-size: 13px;
    margin: 0;
    padding-left:15px;
}
/* pjesa e regjistrimit ne footer*/
.email-bar {
    background-color: #1a1a1a; 
    border-bottom: 1px solid #333; 
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px; 
    width: 100%;
    margin-bottom: 50px; 
}

/* Teksti majtas */
.email-content h3 {
    color: #ff8800;
    font-size: 20px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.email-content p {
    color: #ccc;
    font-size: 14px;
    margin: 0;
}

/* Forma djathtas */
.email-input {
    display: flex;
    gap: 10px;
}

.email-input input {
    padding: 12px 20px;
    width: 250px;
    border-radius: 30px;
    border: 1px solid #444;
    background-color: #000; /* Input i zi */
    color: white;
    outline: none;
}

.email-input input:focus {
    border-color: #ff8800;
}

.email-input button {
    padding: 12px 30px;
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.email-input button:hover {
    background-color: white;
    color: #ff8800;
    transform: scale(1.05);
}


