body {
  padding: 0;
  margin: 0;
        height: 100%;
         font-family: Arial, sans-serif;
        background: #f5f5f5;
}

.footeri {
    background-color: #f5f5f5;
    padding-bottom: 40px; 
}
#nagjeni{
  text-align: center;
}
  /* Pjesa e Mapit */
#mapi {
    width: 100%;            
    max-width: 1100px;       
    height: 300px;           
    margin: 0 auto 40px auto; /* mapi ne mes te ekranit */
    display: block;
    border-radius: 10px;     
    overflow: hidden;        
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; /* ne mes */
    padding: 0 20px;
}


/* Secila kolone e footerit */
.footer-col {
   text-align: left; 
   width: 22%; 
   min-width: 200px;
}


.logo-col img {
    width: 200px; 
    margin-bottom: 20px; 
}

/* Titujt e kolonav*/
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: orange; 
}

/* Lista e navigimit*/
.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col li{
  font-size: large;
}

/*Elementet e navigimit,hapesira*/
.footer-col ul li {
    margin-bottom: 10px;
}

/*Elementet e rreth nesh, linqet */
.footer-col ul li a {
    text-decoration: none;
    color: #333;
}

/* Ndryshon ngjyren me kursor tek Rreth Nesh*/
.footer-col ul li a:hover {
    color: orange;
}
/*ndryshimi i imazhit */
.logo-col img {
    width: 250px;
    margin-bottom: 20px;
}

/*Logoja dhe orari */
.logo-col .orar {
    margin-top: 10px;
}

.logo-col .orar h4 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #000;
}

.logo-col .orar p {
    margin: 2px 0;
    color: #555;
    font-size: 15px;
}
/* per permiresim te orarit */
.dita {
  font-size: large;
    font-weight: 600;
    min-width: 170px;  
}
  /* Permiresimi i orarit me margina */
.orar{
  margin-top: 15x;
}
.orar p{
  font-size: 16px;
}

/* Pjesa e Label */
#email {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
/*Kur Useri eshte duke shenuar emailin */
#email:focus, #signup:focus {
    border-color: #ff7f50;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.6);
}

     
/* Pjesa e butonit */
#signup {
        margin-top: 20px;
        padding: 12px 30px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
}
#signup #email{
  width: 80%;
}

            
/* Butoni signup me kursor*/      
#signup:hover {
background-color: #e69500;
}

   
 /* Pjesa e katrorit  */       
.form { 
 background: #fff;
 width: 60%;
 margin: 100px auto;
 padding: 40px;
border-radius: 12px;
box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
   @media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
        align-items: center;
        gap: 30px;
    }

    .footer-col {
        width: 100%; 
        text-align: center; 
    }
}
}
/*  FAQ  */
.faq{
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  color: orange;
  margin-bottom: 30px;
}

.faq-item{
  margin-bottom:20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.faq-item h3{
  font-size:18px;
  color:#333;
  margin-bottom:5px ;
}
.faq-item{
  font-size: 16px;
  color:#666
}