body {
  padding: 0;
  margin: 0;
        height: 100%;
         font-family: Arial, sans-serif;
        background: #f5f5f5;
}

/* Pjesa e Footerit */
#footeri{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #f5f5f5;
    gap: 40px
}

  /* Pjesa e Mapit */
#mapi{
    border-radius: 10px;
    float: right;
    margin-right: 20px;
}

/* */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #f5f5f5;
    gap: 40px;
}

/* Secila kolone e footerit */
.footer-col {
    flex: 1;
}

.logo-col img {
    width: 200px; 
}

/* Titujt e kolonav*/
.footer-col h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #333;
}

.footer-col ul li a:hover {
    color: orange;
}

.map-col {
    flex: 2;
}





/* Pjesa e Label */
#email {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
     
/* Pjesa e butonit */
#signup {
        margin-top: 20px;
        padding: 12px 30px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
}

            
      
#signup:hover {
background-color: #e69500;
}
   
 /* Pjesa e katrorit  */       
.form { 
 background: #fff;
 width: 60%;
 margin: 100px auto;
 padding: 40px;
border-radius: 12px;
box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}
