body {
  padding: 0;
  margin: 0;
        height: 100%;
         font-family: Arial, sans-serif;
        background: #f5f5f5;
}

/* Pjesa e Footerit */
/* #footeri{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #f5f5f5;
    gap: 40px
} */

.footeri {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
    background-color: #f5f5f5;
}
  /* Pjesa e Mapit */
#mapi{
    border-radius: 10px;
    float: right;
    margin-right: 20px;
    flex: 2;
}


/* Secila kolone e footerit */
.footer-col {
    flex: 1;    
   text-align: center; 
} 


.logo-col img {
    width: 250px;
    margin-bottom: 20px; 
    margin-top: -10px;
}

/* Titujt e kolonav*/
.footer-col h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Lista e navigimit*/
.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col li{
  font-size: large;
}

/*Elementet e navigimit,hapesira*/
.footer-col ul li {
    margin-bottom: 15px;
}

/*Elementet e rreth nesh, linqet */
.footer-col ul li a {
    text-decoration: none;
    color: #333;
}

/* Ndryshon ngjyren me kursor tek Rreth Nesh*/
.footer-col ul li a:hover {
    color: orange;
}
/*ndryshimi i imazhit */
.logo-col img {
    width: 250px;
    margin-bottom: 20px;
}

/*Logoja dhe orari */
.logo-col .orar {
    margin-top: 10px;
}

.logo-col .orar h4 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #000;
}

.logo-col .orar p {
    margin: 2px 0;
    color: #555;
    font-size: 15px;
}
/* per permiresim te orarit */
.dita {
  font-size: large;
    font-weight: 600;
    min-width: 170px;  
}
  /* Permiresimi i orarit me margina */
.orar{
  margin-top: 15x;
}
.orar p{
  font-size: 16px;
}

/* Pjesa e Label */
#email {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
/*Kur Useri eshte duke shenuar emailin */
#email:focus, #signup:focus {
    border-color: #ff7f50;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.6);
}

     
/* Pjesa e butonit */
#signup {
        margin-top: 20px;
        padding: 12px 30px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
}

            
/* Butoni signup me kursor*/      
#signup:hover {
background-color: #e69500;
}

   
 /* Pjesa e katrorit  */       
.form { 
 background: #fff;
 width: 60%;
 margin: 100px auto;
 padding: 40px;
border-radius: 12px;
box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column; 
    }
    .footer-col {
        width: 100%; 
        text-align: center;
    }
    #signup {
        width: 100%;
    }
}
