body {
  font-family :poppins, sans-serif;
  background-color: white;
}

.shop-section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 540;
  margin-bottom: 30px;
 height: 90px;
}

.pakot-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.pako-card {
  width: 320px;
  border-radius: 14px;
  overflow: hidden;
  background-color: transparent;
}

.pako-card img {
  width: 100%;
  display: block;
}

.pako-body {
  padding: 8px 0;
  background-color: transparent;
}

.pako-title {
  font-size: 15px;
  font-weight: 500;
  margin:12px 0 4px;
}

.pako-price {
  font-size: 18px;
  font-weight: 450;
  margin: 0 0 6px;
}
.pako-buton {
  text-align: center;
 display: block;
  width: 80%;
  padding: 10px 0;
  margin: 8px auto;
  border: none;
  border-radius: 10px; 
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.pako-buton:hover {
  background-color: orange;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  padding: 32px 20px;
  background: #fff;
  color: #000;
}

.footer-col h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col li {
  margin: 6px 0;
  font-size: 15px;
}
.footer-col ul li a:hover{
  color: orange;
}

.footer-logo {
  width: 170px;
  max-width: 100%;
  display: block;
  transform: translateY(-38px);
}
hr{
  margin-top: 35px;
}

.footer-hours {
  font-size: 14px;
   transform: translateY(-68px);
}
html{
  scroll-behavior: smooth;
}
.shop-subtitle {
  text-align: center;
  margin-bottom: 30px;
  color:black;
}
.pako-link {
  display: block;
}

.pako-link img {
  display: block;
}

.pako-card a {
  text-decoration: none;
  color: inherit;
}
.product-page {    /* PakoDiaspora-html*/
  padding: 140px 20px;
}

.product-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.product-image-box {
  flex: 1 1 450px;
}

.product-image-box img {
  width: 100%;
  border-radius: 16px;
  display: block;
}

.product-info-box {
  flex: 1 1 350px;
  h1{
font-size: 32px;
  margin-bottom: 10px;
  }
}

.product-price {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-desc {
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.6;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.product-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

.product-note {
  font-size: 13px;
   margin-top: 10px;
  color: grey;
  margin-bottom: 100px;
}

.back-link {
  display: inline-block;
  margin-top: 16px;
  font-size: 14px;
}

